In [1]:
# pip install pyodbc

In [33]:
import pyodbc
import pandas as pd

In [45]:
connection=pyodbc.connect("Driver={SQL Server};Server=DESKTOP-37PHUQ7\SQLEXPRESS;Database=students")
# connection=pyodbc.connect("Driver={SQL Server};Server=DESKTOP-37PHUQ7\SQLEXPRESS;Database=students")
cursor=connection.cursor()

In [43]:
cursor.execute('SELECT [Name],[Email],[Password],[Phone_Number],[Course] FROM [dbo].[students_details]')
data=[]
while True:
    row= cursor.fetchone()
    if row is None:
        break  # No more rows to fetch
    print(row)
#     for i in row()
    name = row[0]
    email = row[1]
#     password = row[2]
#     phone_number = row[3]
#     course = row[4]
    print(name,password)
    
# cursor.close()
# connection.close()

('sujay Govekar', 'sujay@gmail.com', '0123', 7897894569, 'masters-degree')
sujay Govekar 123456
('Noel Soares', 'noelsoares@gmail.com', '123456', 9897969545, 'undergraduate')
Noel Soares 123456

In [46]:
query = 'SELECT [Name],[Email],[Password],[Phone_Number],[Course] FROM [dbo].[students_details]'
df=pd.read_sql(query,connection)
df.head()

            Name                 Email Password  Phone_Number          Course
0  sujay Govekar       sujay@gmail.com     0123    7897894569  masters-degree
1    Noel Soares  noelsoares@gmail.com   123456    9897969545   undergraduate

In [48]:
cursor.close()
connection.close()